---
import { getEntry } from "astro:content";
import Head from "../../layouts/HeadSkeleton.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}
const entry = await getEntry("posts", slug);

if (entry === undefined) {
  return Astro.redirect("/404");
}
const { Content, headings } = await entry.render();
---

<Head
  title={entry.data.title}
  description={entry.data.description}
  pageType="other"
>
  <main class="mx-auto max-w-3xl text-justify leading-loose font-normal">
    <Content />
  </main>
</Head>
