---
import { getCollection } from "astro:content";
import Head from "../../layouts/HeadSkeleton.astro";
import PostEntry from "../../components/Blog/PostEntry.astro";

const blogEntries = (await getCollection("posts")).sort(
  (blogEntryA, blogEntryB) =>
    blogEntryB.data.date.getTime() - blogEntryA.data.date.getTime()
);
---

<Head
  title="Blog - Lucas Lemos"
  description="Dump of contents that I find relevant to share with the world"
  pageType="other"
>
  <main class="max-w-3xl mx-auto p-8 text-slate-200">
    <h1 class="text-3xl font-semibold mb-8">Posts</h1>
    <ul>
      {
        blogEntries.map((blogPostEntry) => (
          <li>
            <PostEntry
              title={blogPostEntry.data.title}
              date={blogPostEntry.data.date}
              url={blogPostEntry.slug}
            />
          </li>
        ))
      }
    </ul>
  </main>
</Head>
