---
import Card from "./Card/index.astro";
import Experience from "./AllExperiences/Experience.astro";
import { getCollection } from "astro:content";
import Icon from "astro-icon";
import { RESOURCE_FILES } from '../lib/constants';

interface Props {
  colSpan: string;
  rowSpan: string;
}

// "position" field in the JSON is used to determine the sorting order
// It sorts in ASC order (lesser position -> greater position)
const allExperiences = (await getCollection("experiences")).sort(
  (expA, expB) => expA.data.position - expB.data.position
);
const { colSpan, rowSpan } = Astro.props;
---

<style>
  .hide {
    display: none;
    position: absolute;
  }

  .show {
    display: block;
    position: static;
  }
  .disabled-button {
    opacity: 30%;
  }
  .min-experience-height {
    min-height: var(--exp-min-height);
  }
</style>

<script src="../scripts/experience-carousel.ts"></script>

<Card
  colSpan={`${colSpan || ""}`}
  rowSpan={`${rowSpan || ""}`}
  title="Professional Experience"
>
  <div
    class="flex flex-col justify-between h-full"
    data-max-exp-index={allExperiences.length}
  >
    <div class="flex flex-col gap-2 lg:h-[80%]">
      <div class="relative">
        {
          allExperiences.map((experience, i) => (
            <div class={`${i !== 0 ? "hide" : "show"}`} data-exp={i}>
              <Experience experience={experience.data} />
            </div>
          ))
        }
      </div>
    </div>
    <div class="flex justify-between py-10 lg:py-0">
      <button class="left-chevron disabled-button" disabled>
        <Icon name="lucide:chevron-left" size="24px" />
      </button>
      <button class="right-chevron">
        <Icon name="lucide:chevron-right" size="24px" />
      </button>
    </div>
    <p class="text-sm font-light">
      For more details, please check my <a
        href={RESOURCE_FILES.resume_en_us}
        target="_blank"
        download
        class="underline underline-offset-2">full resume</a
      >.
    </p>
  </div>
</Card>
