---
import HtmlAndHead from './HeadSkeleton.astro';
---
<HtmlAndHead>
  <div
    class="loaderRef bg-darkslate-700 text-neutral-50 text-3xl font-black uppercase flex justify-center items-center w-screen h-screen z-50 fixed top-0 bottom-0 right-0 left-0"
  >
  </div>
  <slot />
</HtmlAndHead>